#
# .gitignore
#

## BACKUP FILES ##

*~
*.bak


## BUILD ARTIFACTS ##

*.[ao]
*.so*
*.dylib
build
build/
/build/
build-*
build-*/
/build-*/


## MACHINE-SPECIFIC FILES ##

CMakeLists.txt.user
**/CMakeLists.txt.user


## DOXYGEN ##

doc/doxygen/docbook/
doc/doxygen/html/
doc/doxygen/latex/
doc/doxygen/man/
doc/doxygen/rtf/
doc/doxygen/xml/
doc/doxygen/doxygen.log
doc/doxygen/doxyTags.xml
